@model Ianitor.Osp.Backend.Identity.ViewModels.Account.RedirectViewModel

<h1>@Texts.Backend_Identity_Navigation_Redirect_Header</h1>
<p>@Texts.Backend_Identity_Navigation_Redirect_Description</p>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>
