.mat-column-select {
  overflow: initial;
  flex: 0 0 5%;
  width: 5%;
  padding-right: 15px;
  justify-content: center;
}

.mat-column-attributeName {
  padding-right: 15px;
}

.mat-column-operator {
  padding-right: 15px;
}

.mat-column-comparisonValue {
  padding-right: 15px;
}
