@{
    ViewBag.Title = Texts.Backend_Identity_DeviceAuthorized_Title;
}

<div class="row justify-content-center">
    <h1>@Texts.Backend_Identity_Device_Success_Header</h1>
</div>
<div class="row justify-content-center">
    <p>@Texts.Backend_Identity_Device_Success_Message</p>
</div>